extends layout

block content
 .single-present-wrapper
  .row
    .container
      .row
        .col-md-6.col-md-offset-2.col-md-offset-2.col-lg-8
          .panel.panel-default
            .panel-body
              .row
                .col-xs-12.col-sm-8
                  h2 Nur Iman Izam
                  p
                    strong About: 
                    | Web Designer / UI.
                  p
                    strong Hobbies: 
                    | Read, out with friends, listen to music, draw and learn new things.
                  p
                    strong Skills: 
                    span.label.label-info.tags html5
                    span.label.label-info.tags css3
                    span.label.label-info.tags jquery
                    span.label.label-info.tags bootstrap3
                // /col
                .col-xs-12.col-sm-4.text-center
                  img.center-block.img-circle.img-responsive(src='https://present_dp.s3.amazonaws.com/52f890309aa32f6024634808.jpg', alt='')
                  ul.list-inline.ratings.text-center(title='Ratings')
                    li
                      a(href='#')
                        span.fa.fa-star.fa-lg
                    li
                      a(href='#')
                        span.fa.fa-star.fa-lg
                    li
                      a(href='#')
                        span.fa.fa-star.fa-lg
                    li
                      a(href='#')
                        span.fa.fa-star.fa-lg
                    li
                      a(href='#')
                        span.fa.fa-star.fa-lg
                // /col
                .col-xs-12.col-sm-4
                  h2
                    strong  20,7K 
                  p
                    small Followers
                  button.btn.btn-success.btn-block
                    span.fa.fa-plus-circle
                    | Follow
                // /col
                .col-xs-12.col-sm-4
                  h2
                    strong 245
                  p
                    small Following
                  button.btn.btn-info.btn-block
                    span.fa.fa-user
                    | View Presents
                // /col
                .col-xs-12.col-sm-4
                  h2
                    strong 43
                  p
                    small Presents
                  button.btn.btn-primary.btn-block(type='button')
                    span.fa.fa-gear
                    | Options
                // /col
              // /row
            // /panel-body
          // /panel
